body,html{
	height: 100%;
	margin: 0;
	background: black;
}
.fullscreen-chat {
    position: auto;
    top: 10%;
    left: 10;
    
    bottom: 0;
    margin: 0;
    padding: 5%;
    width: 100%;
    height: 100%;
}
.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px;
    width: 80%; /* ajustável ao tamanho da tela */
    max-width: 1750px; /* máximo de 1750px */
    height: 80vh; /* ajustável ao tamanho da tela */
    border-radius: 35px !important;
    background-color: #ffffff !important;
}

.card-login {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem
}

.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
	.type_msg:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: #3a3b45;
}
.user_info p{
	font-size: 10px;
	color: #3a3b45;
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #858796;
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #414141;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgb(170, 170, 170);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgb(170, 170, 170);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}


.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid black;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	display: none;
  }

  .loading{
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
  }
  

  body {
    background-color: white;  /* Fundo verde */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}



  .body-chat {
    background-color: #858796;  /* Fundo verde */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.container-login,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto
}

.button-container {
	text-align: center;
    margin-top: 20px;
}

.button-agent {
	text-align: center;
    margin-top: 10px;
}

.button-agent span {
    font-size: 14px;
    color: #3a3b45;
    display: block; /* Adiciona isso para garantir que o <span> ocupe toda a linha */
    margin-bottom: 10px; /* Adiciona espaço entre o <span> e os botões */
}

.btn {
    background-color: #FDC82F;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0b020;
}

.btn-lamp {
    background-color: transparent;
    color: transparent;
    border: none; /* Remover borda padrão do botão */
}

.btn-lamp:hover {
    background-color: transparent;
}

.btn-lamp:focus {
    outline: none;
}

.horizontal-space {
    width: 350px; /* Ajuste conforme necessário */
    display: inline-block;
}
.card-container {
    background-color: #ffffff;  /* Um verde mais escuro para o card */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
    text-align: center;
    color: rgb(0, 0, 0);
}

.btn-chat {
    background-color: #858796;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-chat:hover {
    background-color: #008043;
    color: white;
}

.btn-agent {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-agent:hover {
    background-color: #008043;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem
}



.justify-content-center {
    justify-content: center !important
}

.o-hidden {
    overflow: hidden !important
}

.border-0 {
    border: 0 !important
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important
}

.mt-1,
.my-1 {
    margin-top: .25rem !important
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem
}

.d-none {
    display: none !important
}

.d-lg-block {
	display: block !important
}

.bg-login-image {
    background: url(/static/img/undraw_login.svg);
    background-position: center;
    background-size: 400px 680px;
    background-repeat: no-repeat
}

.p-5 {
    padding: 3rem !important
}

.text-center {
    text-align: center !important
}

.img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ajuste conforme necessário */
}

.text-gray-900 {
    color: #3a3b45 !important
}


.btn-login {
    display: inline-block;
    font-weight: 400;
    color: #7C7C7C;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .35rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-secondary {
    color: #fff;
    background-color: #858796;
    border-color: #858796
}

form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem
}

.btn-block {
    display: block;
    width: 100%
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

#thoughtModalBody {
    color: #414141;
}

#thoughtModalLabel {
    color: #414141; /* Cor do texto no título do modal */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    text-align: center; /* Alinhamento do texto */
    margin-bottom: 1rem; /* Margem inferior */
}

.lightbulb-icon {
    vertical-align: middle; /* Alinhar verticalmente ao texto */
    margin-right: 5px; /* Margem à direita para separação do texto */

}

  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  } 