<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/img/EY_PB_ICO.ico" />

    <title>ChatBot login</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

</head>

<body>
    <div class="container-login">
        <div class="row justify-content-center">
            <div class="card-login o-hidden border-0 shadow-lg my-5">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <!-- Logo EY -->
                                <img class="img-fluid mt-1" src="/static/img/ey_eletro.png" alt="Logo EY" style="width: 150px; height: auto;">
                                <h1 class="h4 text-gray-900 mb-4">Bem vindo!</h1>
                            </div>
                            <form class="user" method="GET" action="/login">
                                <div style="text-align: center;">
                                    <a href='{{ auth_uri }}' class="btn-login btn-secondary btn-user btn-block">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
